<div class="tweet_footer"></div>
<div class="tweet_footer_links">
   <ul class="tweet_foot_links_ul">
       <li>Powered by drop.io |</li>
       <li><%=link_to 'Home','/home/index'%> |</li>
       <li><%=link_to 'API','http://api.drop.io',:target=>"blank"%> |</li>
       <li><a href="#">terms</a> |</li>
       <li><a href="#">privacy policy</a></li>
   </ul>
</div>