<div class="tweet_footer"></div>
<div class="tweet_footer_links">
   <ul class="tweet_foot_links_ul">
       <li>Powered by drop.io |</li>
       <li><%=link_to 'Home','/home/index'%> |</li>
       <li><%=link_to 'API','http://api.drop.io',:target=>"blank"%> |</li>
       <li><%=link_to 'Terms','http://drop.io/terms'%> |</li>
       <li><%=link_to 'Privacy policy','http://drop.io/privacy'%> |</li>
   </ul>
</div>